<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concrete Mix Design Calculator</title>
    <script>
        function toggleFlyAshInput() {
            var additionsType = document.getElementById('additions_type').value;
            var flyAshInput = document.getElementById('fly_ash_input');
            if (additionsType === 'Fly ash') {
                flyAshInput.style.display = 'block';
            } else {
                flyAshInput.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <h1>Concrete Mix Design Calculator</h1>
    <form action="/calculate" method="post">
	<label for="grade">Grade Designations (e.g., M 25): </label>
        <select name="grade">
            <option value="M 10">M 10</option>
            <option value="M 15">M 15</option>
            <option value="M 20">M 20</option>
            <option value="M 25">M 25</option>
            <option value="M 30">M 30</option>
            <option value="M 35">M 35</option>
            <option value="M 40">M 40</option>
            <option value="M 45">M 45</option>
            <option value="M 50">M 50</option>
        </select><br>
	<label for="additions_type">Mineral Additions Type:</label>
        <select name="additions_type" id="additions_type" onchange="toggleFlyAshInput()">
            <option value="">None</option>
            <option value="Fly ash">Fly ash</option>
        </select><br>
	<label for="max_aggregate_size">Maximum Nominal Size of Coarse Aggregate in mm: </label>
        <select name="max_aggregate_size">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
        </select><br>
	<label for="slump">Consistency (Slump) Desired in mm: </label>
        <input type="text" name="slump" required><br>

    </form>
</body>
</html>
